/*BODY*************/

body {
  margin: 0;
  padding: 0;
}
/*DESKTOP NAV*************/

.navbar {
  display: none;
}

/*NAVBAR MOBILEVIEW*************/

.dropdown{ 
  display: flex;
  padding: 0px 0px;
  height: 73px;
  border-bottom: solid #040504;
  border-left: none;
  border-right: none;
}
.name{
  color: #f87171;
  font-family: ui-sans-serif, system-ui, 
  -apple-system, BlinkMacSystemFont, "Segoe UI",
   Roboto, "Helvetica Neue", Arial, "Noto Sans", 
   sans-serif, "Apple Color Emoji", "Segoe UI Emoji", 
   "Segoe UI Symbol", "Noto Color Emoji";;
   font-weight: 700;
   font-size: 30px;
   margin-top: 0px;
   margin-left: 1.4rem;
   padding: 19px  19px 0px 0px;
}
/*DROPDOWN DIV*************/
.dropd{
  position: relative;
  display: inline-block;
  }
  /*DROPDOWN ICON-BUTTON*************/
.drop{
  width:1.6rem;
  height: 1.6rem;
  background-color:#f87171;
  margin-left:14.5rem ;
  margin-top: 1.7rem;
  border-left: none;
  cursor: pointer; 
}

/*DROPDOWN CONTENT*************/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1.6rem 5rem;
  width: 6rem;
  text-decoration: none;
  display: block;
  font-family: ui-sans-serif, system-ui, 
  -apple-system, BlinkMacSystemFont, "Segoe UI",
   Roboto, "Helvetica Neue", Arial, "Noto Sans", 
   sans-serif, "Apple Color Emoji", "Segoe UI Emoji", 
   "Segoe UI Symbol", "Noto Color Emoji";;
}
/* .dropdown-content button{
  margin: 2rem 3rem;
} */
.dropdown-content a:hover {background-color: #f1f1f1}
.dropd:hover .dropdown-content {
  display: block;
}





/* CONTENT DIV*************/
.content{
  margin: 0 1.3rem;
}
/* BLOCK 1 *************/
.h1{
  font-size: large;
  font-family: system-ui, -apple-system, 
  BlinkMacSystemFont, "Segoe UI", Roboto, 
  "Helvetica Neue", Arial, "Noto Sans", 
  sans-serif, "Apple Color Emoji", 
  "Segoe UI Emoji", "Segoe UI Symbol",
   "Noto Color Emoji";
   font-weight: 700;
   font-size: 37px;
   padding: 0.6rem 0;
   font-style: normal;
   line-height: 2.5rem;
   margin-top: 1rem;
   margin-bottom: 0;
   font-stretch: 10%;
   width: 22.2rem;
   word-spacing: 5px;

}

.p{
  font-family: system-ui, -apple-system, 
  BlinkMacSystemFont, "Segoe UI", Roboto, 
  "Helvetica Neue", Arial, "Noto Sans", 
  sans-serif, "Apple Color Emoji", 
  "Segoe UI Emoji", "Segoe UI Symbol",
   "Noto Color Emoji";
   font-weight: 400;
   font-size: 18px;
   margin: 0;
   line-height: 30px;
   margin-bottom: 1.7rem;
   width: 21rem;
}
/* BLOCK1 LINKS*************/
.socio{
  display: flex;
  margin: 0.4rem 0;
  align-items: center;

}
.lini{
  display: flex;
  margin-left: 5px;
  margin-bottom: 3rem;
}
#gram{
  width: 3rem;
  margin-top: 1rem; 
}

/* BLOCK1 BUTTON*************/
button{
  padding: 1.8rem;
  padding-top: 1rem;
  display: block;
width:8.7rem;
height: 3.1rem;
color: aliceblue;
background-color: #f87171;
border-color: aliceblue;
border-radius: 0.3rem;
border:none;
font-size: medium;
border-width:0 ;
align-items: center;
}

/* BLOCK1 IMAGE*************/
.im{
  margin-top: 2rema;
  width: 100%;
  height:18em;
}

/* BLOCK 2*************/
/* FOR EVERY COLORED  TEXTS*************/
span{
  color: #f87171;
}

/* BLOCK2 ABOUT ME*************/
.about-me{
 font-family:  ui-sans-serif, system-ui, -apple-system, 
  BlinkMacSystemFont, "Segoe UI", Roboto, 
  "Helvetica Neue", Arial, "Noto Sans",
   sans-serif, "Apple Color Emoji",
   "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   word-spacing: 2px;
}

/*FROM  BLOCK2 DOWNWARD LEFT MARGIN DIV *************/
.mar{
  margin-left: 2rem;
}

/* BLOCK2 IMAGE *************/
.imh{
  margin-top: 20px;
  width:21rem;
  height: 25rem;
}


/* BLOCK3 *************/
.block-3t{
  height: 10rem;
border-bottom: solid #d1d2d3;
border-left: none;
border-right: none;
}
.block-3t p{
margin-left:10rem ;
font-family: ui-sans-serif, system-ui, -apple-system, 
BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
 Arial, "Noto Sans", sans-serif, "Apple Color Emoji", 
 "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
font-size: 14px;
line-height: 32px;
color: #6b7280;
font-weight: 600;
}
.views{
  display: flex;
}
.views p{
  margin-right: 0.7rem;
}
/* BLOCK3 ARROW IMG *************/
.views img{
  margin-top: 1.2rem;
  width: 1rem;
}
/* BLOCK3 LINKS *************/
.pro{
  margin:0.5rem;
}
.pre{
  font-family: ui-sans-serif, system-ui, 
  -apple-system, BlinkMacSystemFont, "Segoe UI",
   Roboto, "Helvetica Neue", Arial, "Noto Sans", 
   sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";;
font-weight: 400;
font-size: 16px;
color:#6b7280 ;
line-height: 24px;
font-style: normal;
margin:0 0;
  }
  .lino{
    font-family: ui-sans-serif, system-ui, -apple-system, 
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", 
    Arial, "Noto Sans", sans-serif,
     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    text-decoration: none;
    text-decoration-line: none;
    font-weight: 600;
    line-height: 24px;
    size: 16px;
    color: #000000;
  }
  .seni{
    font-family: ui-sans-serif, system-ui, -apple-system,
     BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, 
     "Noto Sans", sans-serif, "Apple Color Emoji", 
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
   font-weight: 400;
   line-height: 24px;
   color: #000000;
   margin:0 ;
   margin-bottom: 2rem;
  }

  /* BLOCK4  *************/
  .block-4t{
  height: 4rem;
border-bottom: solid #d1d2d3;
border-left: none;
border-right: none;
margin: 1rem 0 3rem 0;
  }
  .web{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    font-weight: 700;
    line-height: 32px;
    color: #000000;
    font-size:x-large;
    margin: 0;
  }
  .about{

    font-family:  ui-sans-serif, system-ui, -apple-system, 
     BlinkMacSystemFont, "Segoe UI", Roboto, 
     "Helvetica Neue", Arial, "Noto Sans",
      sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      word-spacing: 2px;
      padding-right:3rem ;
   }

   /* BLOCK4 1STIMAGE *************/
   .imm{
    width: 100%;
    height: 25rem;
    margin-right: 1rem;
   }

 /* BLOCK4 2ND,3RD,4TH,5TH IMAGE *************/
   .img{
    width:100% ;
   }
    /* BLOCK4 IMAGE *************/
   .dad img{
    margin-bottom:1rem;
   }
  

    /* BLOCK5 DESKTOP LINKS *************/
   .link{
   display: none;
   }
 /* BLOCK5 MOBILE LINKS *************/
   .lik{
    margin: 0.7rem 0;
    font-family:  ui-sans-serif, system-ui, -apple-system, 
    BlinkMacSystemFont, "Segoe UI", Roboto, 
    "Helvetica Neue", Arial, "Noto Sans",
     sans-serif, "Apple Color Emoji",
     "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     word-spacing: 10px;
     font-weight: 400;
     font-size: larger;
   }
    /* FOOTER *************/
  footer{
    background-color: #f87171;
    margin: 0.7rem 0;
    font-family:  ui-sans-serif, system-ui, -apple-system, 
    BlinkMacSystemFont, "Segoe UI", Roboto, 
    "Helvetica Neue", Arial, "Noto Sans",
     sans-serif, "Apple Color Emoji",
     "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     word-spacing: 2px;
     padding-right:3rem ;
     font-weight: 100;
     font-size: larger;
     color: #d1d2d3;
  } 
  .foot{
    display: none;
  }
footer p{
width: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
 font-size: medium;
 font-weight: 600;
  margin: 1rem 1rem;
  line-height: 30px;
}

 /*  DESKTOP MIN-WIDTH 728PX *************/
 /*DEAKTOP VIEW******/
@media (min-width: 768px) {
 /* BODY *************/
  body{
    margin: 0 4.7rem;
display: grid;
  }

   /* MOBILE NAV *************/
  .dropdown{
    display: none;
  }

   /* NAVWITH NAME AND LINKS *************/
  .navbar {

    display: flex;
  }
  .name{
   margin:0 2rem 1.3rem 1.3rem;
    font-weight: 700;
    font-size: 30px;
   }
   /*NaVBAR-LINKS******/
   .btn{
  
    display: flex;
   margin-left: 32rem;
   }
   .btn  a{
    text-decoration: none;
    font-family: ui-sans-serif, system-ui, -apple-system,
     BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", 
     Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
     "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
justify-content: center;
margin-top: 2rem;
   background-color: #ffffff;
    color: #000000;
    width: 5rem;
    height: 2rem;
    font-weight: 600;
    margin-left: 1rem;
    line-height: 24px;
    font-size: 17px;
   }
 .btn button{
  margin-top: 1.5rem;
  width: 7.5rem;
  height: 2.5rem;
 }
 
 /*CONTENT******/
  /* BLOCK 1*************/
.block-1t p{
  width: 30.2rem;
  margin-right: 10rem;
}

 /* BLOCK1 IMG *************/
.im{
  margin-top: 1.5rem;
  margin-left: 0rem;
  width: 26rem;

}
.bock-1{

  margin-top: 4rem;
  display: flex;
}
.block-1t  .p{
  max-width: 20rem;
  margin-top: 0.5rem; 
}

.socio{
 margin-top: 2rem;   
}

 /* BLOCK2 *************/

 .block-2{
  margin-top: 1rem;
  display: flex;
}
.about-me{
  max-width:35rem ;
}

.imh{
  margin-left: 5rem;
}
 /*BLOCK2******/
 .block-2t .h1{
  width: 30rem;
 }
 
.imo{
  margin-left:7rem ;
}
 /*BLOCK3******/
 .block-3t{
  height: 7.3rem;
 }
 .block-3t h2{
  margin-left: 2.3rem;
  width: 40rem;
 }
 .views{
  display: flex;
  float: right;
 }
 .block-3t img{
 width: 0.9rem;
 margin: 1.2rem;
 }

  /*BLOCK4********/
 .block-4 h2{
  margin: 1.7rem;
 }
  /*BLOCK4 CARD DIV******/
 .block-4cont{
  padding-top: 3rem;
  padding-left: 2rem;
  margin-left: 2rem;
  box-shadow: 0 0 6px 1.5px rgb(239, 241, 241);
 }
 .pro{
  display: flex;
  margin:4rem 4rem 2rem 4rem;
 }
 .pro1, .pro2{
margin-right: 12rem;
 }
 .cont{
  display: flex;
 }
 .imm{
  width: 90%;
  margin-left: 4rem;
 }
 .main{
  margin:0 0 1rem 4.8rem ;

 }
 .img{
  height: 24rem;
  margin:0.5rem 0.5rem 0.5rem  0.8rem ;
 }
 .one{
  width:45%;
  display: flex;

 }

 .two{
  width:45%;
  display: flex;
 }

  /*BLOCK5******/
 .block-5{
  margin: 3rem;
 }
 .skill{
  display: flex;
 }
 .skill2 p{
  width: 28rem;
  margin-right: 5rem;
  margin-bottom: 6rem;
 }
.ski{
  margin-top: 3rem;
  margin-left: 12rem;
}
.skill3 p{
  width: 28rem;
  margin-right: 5rem;
 }
 .foots{
  display: flex;
  margin-right: none;

}
.link{
  display: block;
}
.link .lik {
  margin-bottom: -10px;
display: flex;
}
.link .lik  p{
  margin-top:1rem;
}

 /*LINKS FOR MOBILE******/
 .lina{
  display: none;
}
 /*FOOTER MOBILE******/
.foots{
  display: none;
}

 /*FOOTER DESKTOP******/
.foot{ 
  margin-left: 12rem;
  font-family: ui-sans-serif, system-ui, 
  -apple-system, BlinkMacSystemFont, "Segoe UI",
   Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", 
  "Segoe UI Symbol", "Noto Color Emoji";;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}



  }